//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@johntao:registry=https://npm.pkg.github.com/
prefer-workspace-packages=true
link-workspace-packages=true
shell-emulator=true
auto-install-peers=false
